    body{
        margin-top: 50px;
    }

    .inline-edit-menu{
        background-color: #2f4050;
        height: 50px;
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px;
    }

    .inline-edit-menu li{
        display: inline-block;
    }

    .inline-edit-menu ul{
        float: right;
        padding: 0;
        margin: 0;
    }

    .inline-edit-menu a{
        color: #FFFFFF;
        padding: 5px 10px;
        margin-top: 10px;
        display: block;
        border-radius: 3px;
        margin-right: 20px;
        cursor: pointer;
    }
    .inline-edit-menu .green{
        background-color: #1ab394;
    }
    .inline-edit-menu .orange{
        background-color: #f8ac59;
    }
    .js-live-edit{
        border-style: none; 
        border-color: Transparent; 
        overflow: auto;     
    }