<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-md-offset-6">
				<form enctype="multipart/form-data">
    				<input name="file" type="file" />
    				<input type="button" value="Upload" />
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-md-offset-6">
				<div id="uploadmsg"></div>
			</div>
		</div>
	</div>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(':button').click(function(){
			var formData = new FormData($('form')[0]);
			$.ajax({
		    	url: '/themes',  
		    	type: 'POST',
		    	xhr: function() {  // Custom XMLHttpRequest
		        	var myXhr = $.ajaxSettings.xhr();
		        	if(myXhr.upload){ // Check if upload property exists
		            	
		  			}
		        	return myXhr;
		    	},
		    	//Ajax events
		    	success: function(data){
		    		if(data.success==false){
		    			document.getElementById('uploadmsg').innerHTML = "Check the file";
		    		}
		    		else{
		    			console.log(data);
		    			document.getElementById('uploadmsg').innerHTML = "<a href='preview/"+data.themeId+"/"+data.indexFile+"'>Click Here To Start Editing</a>";
		    		}
		    	},
		    	error: function(err){
		    		console.log(err);
		    	},
		    	// Form data
		    	data: formData,
		    	//Options to tell jQuery not to process data or worry about content-type.
		    	cache: false,
		    	contentType: false,
		    	processData: false
			});
		});
	</script>
</body>
</html>