<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		html, body, iframe { 
			height: 100%; 
		}
	</style>
	<link rel="stylesheet" href="/<%= themeId %>/graphiti/enableedit.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="/<%= themeId %>/graphiti/bootbox.min.js"></script>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.js"></script>
</head>
<body>
	<div class="inline-edit-menu">
		<ul>
			<li><a class="green" id="cmsonsave">Save</a></li>
			<li><a class="orange" id="btnCancel">Cancel</a></li>
		</ul>
	</div>
	<iframe id="editframe" src="<%= file %>" height="100%" width="100%"></iframe>
	<script type="text/javascript" src="/<%= themeId %>/graphiti/enableedit.js" async="true" defer="true"></script>
	<script type="text/javascript">
		document.getElementById('btnCancel').addEventListener('click', function(){
			var previewUrl = window.location.href.replace('edit', 'preview');
			window.location.href = previewUrl;
		});
	</script>
</body>
</html>