<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		html, body, iframe { 
			height: 100%; 
		}
	</style>
	<link rel="stylesheet" href="/<%= themeId %>/graphiti/enableedit.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="inline-edit-menu">
		<ul>
			<li><a class="green" id="btnEdit">Edit</a></li>
			<li><a class="orange">Publish</a></li>
		</ul>
	</div>
	<iframe id="previewframe" src="<%= file %>" height="100%" width="100%"></iframe>
	<script type="text/javascript">
		document.getElementById('btnEdit').addEventListener('click', function(){
			var themeId = document.getElementById('previewframe').contentWindow.location.href.split('/')[3];
			var page = document.getElementById('previewframe').contentWindow.location.href.split('/')[4];
			editUrl = window.location.origin+'/edit/'+themeId+'/'+page;
			window.location.href = editUrl;
		});
	</script>
</body>
</html>